.masthead {

  background-image: url('images/showcase.jpg');
  height: 60vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.color-overlay {

  position: absolute;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, .3);
}

@media (max-width: 768px) {

  .masthead {
    height: 40vh;
  }

  .masthead.h1 {
    font-size: 2px;
  }
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.custom-card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.quotes {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.custom-culture {
  
  letter-spacing: .2rem;  
}

#culture {
  background-color: darkolivegreen;
}